h2,p{
    color: blueviolet;
}

p{
    font-family: 'Times New Roman', Times, serif;
}
.class{
    background-color: aqua;
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 50%;
    margin: 50px ;
    float: right;


}
.visita{
    background-color: greenyellow;
}


